@import "../../../colors.scss";

.main-container {
  background: $background;

  .vertical-list {
  }

  .horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list-separator {
    border: 1px solid rgba($color: $grey, $alpha: 0.2);
  }
}
