<div class="main-container">
  <div class="bot-info-container">
    <div class="grid-container">
      <app-dashboard-item class="region-container"></app-dashboard-item>
      <app-dashboard-item class="active-users-item"></app-dashboard-item>
      <app-dashboard-item class="received-messages-item"></app-dashboard-item>
      <app-dashboard-item class="sent-messages-item"></app-dashboard-item>
    </div>
    <div class="plan-info">
      <img src="../../../assets/images/plano.png">
      <span class="plan-status-title">Status account</span>
      <span class="plan-status-description">Free</span>
      <app-flat-button buttonText="Upgrade account"></app-flat-button>
    </div>
  </div>

</div>
