@import '../../../colors.scss';

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 220px;
  border-radius: 8px;
  background-color: $surface;
  box-shadow: 2px 2px 16px rgba($color: $grey, $alpha: 0.4);

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 30px;
  }

  .info-container {
    display: flex;
    flex-direction: column;

    .quantity-value {
      font-size: 24px;
      font-weight: bold;
      padding: 4px 0;
    }

    .description {
      font-size: 18px;
    }
  }
}
